.fullslider {
	position:relative;
	margin:0;
}
.fullslider .carousel-inner{
	position:relative;
}
.fullslider .banner-info{
	position:absolute;
	bottom:25%;
	/*left:10%;*/
	z-index:4;
	background:#C45344;
	width:100%;
	padding:12px;
	min-height:40px;
	opacity:0.7;
	filter: alpha(opacity=70);
}
.fullslider .carousel-indicators{
	position:absolute;
	bottom:10px;
	left:20px;

}
.fullslider .carousel-control{
	line-height: 40px;
	font-size:40px;
}
.fullslider .carousel-indicators li{ 
	display:block;
	float:left;
	z-index:20;
	padding:10px; 
	margin:3px;
	background:#5e5e5e; 
}
.fullslider .carousel-indicators li.active{ 
	background: #333;
}	
.fullslider  .thumb-indicators li {text-indent:0; 
	display: block;
    float: left;
    height: 100%;
    margin: 3px;
    padding: 3px;
    width: 23%;
    z-index: 20;
}
.fullslider .banner-info h2 {
font-family: 'Great Vibes', cursive;
font-weight: bold;
font-size: 34px;
color:#fff;
}
.fullslider .banner-info p {
font-family: 'Dawning of a New Day', cursive;
font-size: 26px;	
color:#fff;
}